.post{
    max-width: 550px;

    border: 1px solid lightgrey;
    margin-bottom: 30px;
    
}
.post_image{
    width: 100%;
    object-fit: contain;
}
.post_text{
    font-weight: normal;
}
.post_header
{
    display: flex;
    align-items: center;
    padding: 15px 10px;
}
.post_avatar{
    margin-right: 10px;
}

.post_comment{

    padding: 20px;
}
.post_commentbox{

    display: flex;
    margin-top: 10px;
}
.post_input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top:1px solid lightgrey;
}
.post_button{
    flex: 0;
    border: 0;
    color: #6082a3;
    background-color:transparent ;

    border-top:1px solid lightgrey;

}
